<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./../partials/header'); %>
    <%- include('./../partials/bootstrap_css'); %>
    <% if (locals.artigo) { %>
        <title><%= artigo.titulo | Blog do Covid %></title>
    <% } else { %>
        <title>Blog do COVID</title>
    <% } %>
</head>
<body>
    <!-- ESTE É UMA PÁGINA EM FASE DE DESENVOLVIMENTO -->
    <% if (locals.artigo) { %>
        <h1><%= artigo.titulo %></h1>
        <p><%= artigo.descricao %></p>
        <br/>
        <br/>
        <br/>
        <%= artigo.body %>
    <% } else { %>
        OPS, não foi encontrado nenhum artigo para ser exibido!
    <% } %>

    <%- include('./../partials/bootstrap_script'); %>
</body>
</html>

