<!DOCTYPE html>
<html lang="pt-br">
<head>

<title>Login</title>

<%- include('./../partials/header'); %>
<%- include('./../partials/bootstrap_css'); %>

<link rel="stylesheet" href="/css/registro/styles.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="signup-form">
    <form action="/login" method="post">
		<p class="hint-text">Logar-se</p>

        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>

		<div class="form-group">
            <input type="password" class="form-control" name="senha" placeholder="Senha" required="required">
        </div>   

		<% if (locals.error && locals.error.length > 0) { %>
			<div class="alert alert-danger" role="alert">
			<% error.forEach(er => { %>
				- <%= er %>
				<br>
			<% }) %>     
			</div>
		<% } %>

		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Logar</button>
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
	<div class="text-center">Sem conta? <a href="/login">Logar-se</a></div>

</div>
    <%- include('./../partials/bootstrap_script'); %>

</body>
</html>



